
<div class="cart-item">
    <img class="cart-pizza-icon" src="<%= pizza.icon%>">
    <p class="cart-name">
        <%= pizza.title %>
        <%if(pizza[size].size == 30){%>
        (Мала)
        <%}else if(pizza[size].size == 40){%>
        (Велика)
        <%}%>
    </p>
    <div class="order-info">
        <img src="assets/images/size-icon.svg">
        <span class="pizza-size-cart"><%= pizza[size].size%></span>
        <img class="weight-image-cart" src="assets/images/weight.svg">
        <span class="pizza-weight-cart"><%= pizza[size].weight%></span>
    </div>
    <div class="price-amount">
        <span class="cart-price"><%= pizza[size].price*quantity%>грн</span>
        <span id="cart-item-amount" style="padding-left: 1em"><%= pizza[size].quantity%> шт</span>
    </div>
</div>